@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    margin:0px;
    padding: 0px;
    background-image: linear-gradient(#B4D4FF, #40A2D8,#525CEB);
    /* background-image: url("./chatbg.png");
    background-size: cover;
*/
}

.app{
    min-height: 100vh;
    display: flex;
    /* background-color: #AEDEFC; */
}
