@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    margin:0px;
    padding: 0px;
    background-image: linear-gradient(#40A2E3, #3652AD);
    /* background-image: url("./background chat.png");
    background-size: cover; */
}

.app{
    min-height: 100vh;
    display: flex;
    /* background-color: #AEDEFC; */
}
